<f:layout name="Default" />

<f:section name="main">
    <f:security.ifAuthenticated>
        <f:then>
            whoami:{test}<br/>
            <f:form action="chat">
                <f:form.textfield name="myTextBox" value="default value" />
                <f:form.button class="btn" type="submit">Submit</f:form.button>
            </f:form>
        </f:then>
        <f:else>
            <f:render partial="accessError"/>
        </f:else>
    </f:security.ifAuthenticated>
</f:section>